body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #8B0000; /* Rojo oscuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

section h2 {
    color: #8B0000;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 40px;
}

/* Responsive*/
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}


/*platos */
.contenedor-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.plato {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.plato:hover {
    transform: translateY(-5px);
}

.plato img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.plato h3 {
    color: #8B0000;
    margin: 15px 0 10px;
}

.plato p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #555;
}
